.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
  background-color: #e2e8f0; /* Slightly darker background color */
  color: #2d3748; /* Slightly darker text color */
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px;
  }
}

footer {
  background-color: #cbd5e0; /* Slightly darker background color */
  color: #2d3748; /* Slightly darker text color */
  padding: 1rem;
  text-align: center;
}

html.dark footer {
  background-color: #1f2937;
  color: #f3f4f6;
}